* {
    user-select: none;
}

.card a, .card p {
    cursor: pointer;
}

p {
    cursor: default;
}

h1, .h1 {
    font-family: 'Montserrat',Sans-serif;
    font-weight: bold;
}

.img-transition-1 {
    transition: all 0.5s;
    background-image: url('imagenes/vestidon1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.img-transition-1:hover {
    background-image: url('imagenes/vestidon2.png');
}

.img-transition-2 {
    transition: all 0.5s;
    background-image: url('imagenes/vestidow1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.img-transition-2:hover {
    background-image: url('imagenes/vestidow2.png');
}

.img-transition-3 {
    transition: all 0.5s;
    background-image: url('imagenes/vestidoflower1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.img-transition-3:hover {
    background-image: url('imagenes/vestidoflower2.png');
}

.img-transition-4 {
    transition: all 0.5s;
    background-image: url('imagenes/mochila1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.img-transition-4:hover {
    background-image: url('imagenes/mochila2.png');
}

.img-transition-5 {
    transition: all 0.5s;
    background-image: url('imagenes/anillos.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.img-transition-5:hover {
    background-image: url('imagenes/anillos2.png');
}

.img-transition-6 {
    transition: all 0.5s;
    background-image: url('imagenes/arito1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.img-transition-6:hover {
    background-image: url('imagenes/arito2.png');
}

.custom-bg {
    background-image: url("imagenes/dark1.jpg");
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 110vh;
    position: relative;
    text-align: center;
}

.custom-bg::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.custom-bg p {
    color: white;
    margin-top: 30px;
}

.custom-bg1 p {
    color: white;
    margin-top: 30px;
}

.custom-bg1 {
    background-image: url("imagenes/fashionable-girl-cafe.jpg");
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 70vh;
    position: relative;
    text-align: center;
}

.custom-bg1::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.custom-bg2 p {
    color: white;
    margin-top: 30px;
}

.custom-bg2 {
    background-image: url("imagenes/reading.png");
    background-size: cover;
    background-position: top;
    opacity: 0.9;
    width: 100%;
    height: 80vh;
    position: relative;
    text-align: center;
}

.custom-bg2::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.custom-bg3 p {
    color: white;
    margin-top: 30px;
}

.custom-bg3 {
    background-image: url("imagenes/pexels-cottonbro-studio-4855369.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    width: 100%;
    height: 80vh;
    position: relative;
    text-align: center;
}

.custom-bg3::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#container-1 {
    background-color: #f0e3d2;
}

#container-2 {
    background-color: black;
}

.card {
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn {
    height: 60px;
}

.p-title {
    color: white;
    font-family: 'Libre Caslon Text', serif;
    font-weight: 1500;
    font-style: normal;
    text-transform: initial;
    letter-spacing: 0px;
    line-height: 1.2;
}

.p-title2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.border-card {
    transition: 0.5s;
}

.border-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px 25px 40px 25px;
    transition: 0.5s;
}

.btn-news {
    transition: 0.5s;
}

.btn-news:hover {
    opacity: 0.75;
    transition: 0.5s;
}

.p-card-title {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: all 0.5s;
}

.p-card-title:hover {
    opacity: 0.65;
    
}

.p-price {
    font-size: 20px;
    font-weight: 700;
}

.p-link {
    font-family: 'Sans-serif', serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.form-w {
    width: 1000px;
}

#btn-color {
    background-color: #944f45;
}

.bg-color {
    background-color: #000;
}

.white {
    color: white;
}

.position-r {
    position: relative;
}

.position-a {
    position: absolute;
}


/*hovers*/
.hover-ig:hover {
    color: palevioletred;
}

.hover-fb:hover {
    color: blue;
}

.hover-wpp:hover {
    color: green;
}

.hover-op:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.hover-logo:hover {
    opacity: 0.6;
}

.hover-op, .hover-logo {
    transition: all 0.5s ease;
}

.hover-ig, .hover-fb, .hover-wpp {
    transition: color 0.3s ease;
}

.h {
    height: 535px;
}

.pointer-events-n {
    pointer-events: none;
}

.bg {
    background-image: url("imagenes/fondo1.jpg");
    background-size: cover;
}

.section-tabula-rasa {
    padding: 70px 0px;
}

.svg-size {
    font-size: 125px;
}

.bgc {
    background-color: rgba(0,0,0,0.1);
}

.bg-page-color {
    background-color: #fff5fd;
}

.bold-text-r {
    font-weight: bold;
    padding-right: 0.25rem;
}

.bold-text-l {
    font-weight: bold;
    padding-left: 0.25rem;
}

/* CAROUSELS */

.carousel-tn {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.carousel-tn.active {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
}